/*  layout setup  */
@import url(layout/normalize.css);
@import url(layout/adjustment.css);
@import url(layout/fonts.css);
@import url(layout/font-awesome.css);
/*  section  */
<<<<<<< HEAD
.header {
  height: 80px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.user {
  height: 80px;
  position: relative; }
  .user__wrapper {
    float: left;
    width: 80%;
    height: 80px; }
  .user__small-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #bebebe;
    float: left;
    margin: 11px 0; }
  .user__avatar-pic {
    display: block; }
  .user__name {
    position: absolute;
    float: left;
    top: 50%;
    left: 84px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.contacts {
  text-align: right; }
  .contacts__wrapper {
    float: right;
    width: 20%;
    text-align: center; }
  .contacts__trigger {
    height: 40px;
    border: none;
    color: #32c3e5;
    font-family: "fira";
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    background: url(../img/decor/dotted_border.png) 0 30px no-repeat;
    margin-top: 20px;
    padding: 0; }
    .contacts__trigger:hover {
      color: #e85f61;
      background: url(../img/decor/dotted_border_red.png) 0 30px no-repeat; }
    .contacts__trigger-text {
      display: inline-block; }
    .contacts__trigger-icon {
      display: inline-block;
      display: none; }

.sidebar {
  float: left;
  width: 220px;
  min-width: 220px; }

.nav {
  text-align: right;
  margin-top: 27px; }
  .nav__link {
    display: block;
    padding: 10px 23px;
    color: #414141;
    border-right: 6px solid transparent; }
    .nav__link:hover {
      color: #33c1e3; }
    .nav__link-icon {
      margin-right: 4px; }

.nav__item-active {
  color: #33c1e3;
  font-weight: 900;
  border-color: #33c1e3; }

.staff {
  float: left;
  width: 720px; }

.about__pic_wrapper {
  float: left;
  width: 220px;
  margin: 29px 60px; }

.about__pic-item {
  display: block;
  width: 220px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden; }

.about__title_wrapper {
  float: right;
  width: 380px; }

.about__title {
  margin-bottom: 10px; }

.about__text {
  height: 320px;
  text-align: left;
  overflow: auto;
  font-weight: 300; }

.about__download-link {
  width: 173px;
  height: 40px;
  float: right;
  margin: 58px 0;
  padding-top: 9px;
  border: 2px solid #e85f61;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #e85f61; }
  .about__download-link:hover {
    background: #e85f61;
    color: #f6f6f6; }
  .about__download-link-icon {
    font-size: 14px;
    margin: 0 5px 0 13px; }

p {
  line-height: 1.45;
  margin-bottom: 7px; }

.portfolio {
  width: 720px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .portfolio__title {
    padding-left: 20px;
    margin-bottom: 17px; }
  .portfolio__list {
    background: #f6f6f6;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .portfolio__item {
    width: 220px;
    margin: 0 0 20px 20px; }
  .portfolio__link {
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }
    .portfolio__link:hover {
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); }
    .portfolio__link:hover .portfolio__desc-title {
      color: #e85f61; }
  .portfolio__img {
    height: 170px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .portfolio__desc {
    background: #fff;
    padding: 16px 20px 16px 17px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .portfolio__desc-title {
      font-size: 21px;
      color: #33c1e3; }
    .portfolio__desc-content {
      font-size: 14px;
      font-weight: 300;
      color: #414141;
      margin-left: 3px; }
    .portfolio__desc-type {
      font-weight: 500;
      font-size: 14px;
      color: #aeaeae;
      margin: 11px 20px 0 3px; }
      .portfolio__desc-type_icon {
        font-size: 18px;
        margin-right: 3px; }

.career {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 20px;
  /*  li  */ }
  .career__title {
    margin-bottom: 18px; }
  .career__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .career__pic {
    width: 220px;
    height: 220px;
    border-radius: 9px;
    overflow: hidden;
    background-position: center center;
    background-size: inherit; }
  .career__img {
    -webkit-transform: translateX(-9999px);
    -ms-transform: translateX(-9999px);
    transform: translateX(-9999px); }
  .career__list {
    width: 480px; }
  .career__item {
    padding-left: 100px;
    position: relative;
    /* timeline */ }
    .career__item-wrapper {
      right: 0;
      border-radius: 10px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
      padding: 16px 21px 14px 21px;
      margin-bottom: 20px;
      background: #fff;
      position: relative; }
    .career__item:hover .career__item-wrapper {
      background: #33c1e3; }
    .career__item:hover .career__company, .career__item:hover .career__post, .career__item:hover .career__period {
      color: #fff; }
    .career__item:hover .career__year {
      color: #33c1e3;
      font-size: 18px;
      font-weight: 600; }
      .career__item:hover .career__year:after {
        border-color: #94e0f2; }
    .career__item:after, .career__item:before {
      content: "";
      display: block;
      width: 1px;
      background: #ddd;
      position: absolute;
      right: 100%;
      margin-right: -80px; }
    .career__item:first-child:before, .career__item:last-child:after {
      display: none; }
    .career__item:before {
      top: 0;
      bottom: 50%; }
    .career__item:after {
      top: 50%;
      bottom: -25px; }

/*  career bloks content  */
.career__company {
  font-size: 21px;
  color: #5a5a5a; }

.career__post, .career__period {
  font-weight: 300;
  color: #8a8a8a; }

.career__year {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -14px;
  margin-right: 35px;
  font-size: 14px;
  line-height: 28px;
  color: #8a8a8a;
  z-index: 1; }
  .career__year:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #33c1e3;
    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: -10px;
    border: 5px solid #f6f6f6; }

.footer {
  height: 50px;
  background: #414141;
  margin-top: -50px;
  position: relative;
  min-width: 940px; }

.copyright {
  position: absolute;
  font-size: 14px;
  top: 15px; }

.social {
  float: right;
  margin-top: 10px; }
  .social__item {
    display: inline-block; }
  .social__link {
    display: block;
    width: 31px;
    height: 30px;
    background: url(../img/icon/socials.png);
    background-repeat: no-repeat; }
    .social__link-fb {
      background-position: 0 0; }
    .social__link-vk {
      background-position: -101px 0; }
    .social__link-tw {
      background-position: -201px 0; }
    .social__link:hover {
      background-image: url("../img/icon/socials-hover.png"); }

/*  media  */
@media screen and (max-width: 1200px) {
  .conteiner {
    width: 940px; } }

@media screen and (max-width: 992px) {
  .conteiner {
    margin: 0 20px;
    width: 730px;
    margin: 0 auto; }
  .staff {
    width: 100%; }
  .about__pic_wrapper {
    width: 250px;
    margin: 0; }
  .about__pic {
    width: 170px;
    margin: auto; }
  .about__pic-item {
    width: 170px;
    margin: 30px -10px; }
  .about__title_wrapper {
    width: 480px; }
  .about__text {
    height: 363px;
    margin-right: 40px; }
  .about__download-link {
    margin: 57px 66px; }
  .sidebar {
    float: none;
    width: 100%; }
  .nav {
    text-align: left;
    margin-top: 19px; }
    .nav__item {
      display: inline-block; }
    .nav__link {
      border: none;
      padding: 10px 24px 10px 0; }
  .career {
    padding: 0; }
    .career__pic {
      width: 230px;
      height: 225px; }
    .career__item {
      padding-left: 143px; }
    .career__item-wrapper {
      width: 355px; }
  .portfolio {
    width: 100%;
    margin-top: 4px; }
    .portfolio__title {
      padding: 0; }
    .portfolio__list {
      margin-left: -20px; }
    .portfolio__item {
      width: 230px; }
    .portfolio__img {
      height: 176px; }
    .portfolio__desc {
      padding: 16px 20px 16px 19px; }
  .footer {
    min-width: 730px; } }

@media screen and (max-width: 768px) {
  .wrapper:after {
    content: "";
    height: 95px;
    display: block; }
  .conteiner {
    width: 480px;
    margin: 0 auto;
    overflow: hidden; }
  .contacts__trigger {
    background: none; }
    .contacts__trigger:hover {
      background: none; }
    .contacts__trigger-text {
      display: none; }
    .contacts__trigger-icon {
      display: block;
      font-size: 40px;
      padding-right: 1px; }
  .sidebar {
    float: none;
    width: 100%; }
  .nav {
    text-align: left;
    margin-top: 19px; }
    .nav__item {
      display: inline-block; }
    .nav__link {
      border: none;
      padding: 10px 24px 10px 0; }
  .staff {
    width: 100%; }
  .title {
    margin: 0;
    text-align: center; }
  .about {
    width: 100%; }
    .about__pic_wrapper {
      float: none;
      margin: 0 auto; }
    .about__pic {
      width: 184px;
      height: 184px; }
    .about__pic-item {
      width: 174px;
      margin: 28px 0 0 2px;
      border: 5px solid #fff; }
    .about__title_wrapper {
      width: 100%;
      float: none;
      margin: 0; }
    .about__text {
      height: 363px;
      margin: 0 0 0 20px; }
    .about__download-link {
      margin: 37px auto;
      float: none;
      display: block; }
  .career__wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 20px; }
  .career__pic {
    height: 225px; }
  .career__title {
    margin: 24px -2px 20px; }
  .career__item {
    padding: 0; }
    .career__item-wrapper {
      width: 100%;
      margin: 20px 0; }
  .career__item:after, .career__item:before, .career__year, .career__year:after {
    display: none; }
  .portfolio__item {
    width: calc(100% / 2 - 20px); }
  .footer {
    min-width: 480px;
    height: 95px;
    margin: -95px auto; }
  .copyright {
    letter-spacing: normal;
    position: relative;
    display: block;
    text-align: center; }
  .social {
    float: none;
    display: block;
    text-align: center;
    margin-top: 25px; } }

@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%; }
  .conteiner {
    width: 95%; }
  .user__name {
    font-size: 14px; }
  .nav {
    margin-top: 15px; }
    .nav__link {
      padding: 0 10px 0 0; }
      .nav__link-text {
        font-size: 14px; }
      .nav__link-icon {
        display: none; }
  .about__pic_wrapper {
    height: 180px; }
  .about__pic {
    width: 140px;
    height: 140px; }
  .about__pic-item {
    width: 140px; }
  .about__text {
    height: 100%; }
  .career {
    width: 100%; }
    .career__list {
      width: 100%; }
  .portfolio {
    margin: 25px 0; }
    .portfolio__title {
      padding-left: 0; }
    .portfolio__list {
      margin-left: 0; }
    .portfolio__item {
      width: 100%;
      margin: 20px 0; }
    .portfolio__img {
      background-size: 100%; }
    .portfolio__desc {
      padding-top: 10px; }
      .portfolio__desc-title {
        font-size: 24px; }
      .portfolio__desc-content {
        font-size: 16px; }
      .portfolio__desc-type {
        font-size: 16px;
        margin-top: 5px; }
        .portfolio__desc-type_icon {
          font-size: 20px; }
  .footer {
    min-width: 100%; } }
=======
.header { height: 80px; background: #fff; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.user { height: 80px; }

.user__wrapper { float: left; width: 50%; height: 80px; }

.user__small-avatar { width: 60px; height: 60px; border-radius: 50%; overflow: hidden; border: 2px solid #bebebe; float: left; margin: 11px 0; }

.user__avatar-pic { display: block; }

.user__name { float: left; margin: 30px 19px; }

.contacts { text-align: right; margin-top: 30px; }

.contacts__wrapper { float: right; width: 50%; height: 80px; text-align: center; }

.contacts__trigger { color: #32c3e5; line-height: 1.556; font-weight: bold; text-decoration: none; padding-bottom: 7px; background: url(../../img/decor/dotted_border.png) 0 22px repeat-x; }

.contacts__trigger:hover { color: #e85f61; background: url(../../img/decor/dotted_border_red.png) 0 22px repeat-x; }

.sidebar { float: left; width: 220px; }

.nav { text-align: right; margin-top: 27px; }

.nav__link { display: block; padding: 10px 23px; color: #414141; text-decoration: none; border-right: 6px solid transparent; font-size: 18px; }

.nav__link:hover { color: #33c1e3; }

.nav__link-icon { margin-right: 4px; }

.nav__item-active { color: #33c1e3; font-weight: 900; border-color: #33c1e3; }

.staff { float: left; width: 720px; }

.about__pic_wrapper { float: left; width: 220px; margin: 29px 60px; border-radius: 50%; border: 2px solid #fff; overflow: hidden; }

.about__pic-item { display: block; }

.about__title_wrapper { float: right; width: 380px; }

.about__title { margin-bottom: 10px; }

.about__text { height: 320px; text-align: left; overflow: auto; font-weight: 300; }

.about__download-link { width: 173px; height: 40px; float: right; text-align: center; margin: 58px 0; padding-top: 9px; border: 2px solid #e85f61; border-radius: 30px; font-size: 14px; font-weight: 600; color: #e85f61; }

.about__download-link:hover { background: #e85f61; color: #f6f6f6; }

.about__download-link-icon { font-size: 14px; margin-right: 8px; }

p { line-height: 1.45; margin-bottom: 7px; }

.portfolio { width: 720px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.portfolio__title { padding-left: 20px; margin-bottom: 17px; }

.portfolio__list { max-width: 720px; background: #f6f6f6; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.portfolio__item { width: 220px; margin: 0 0 20px 20px; }

.portfolio__link { border-radius: 10px; overflow: hidden; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }

.portfolio__link:hover { box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); }

.portfolio__link:hover .portfolio__desc-title { color: #e85f61; }

.portfolio__img { width: 220px; height: 170px; }

.portfolio__desc { width: 220px; background: #fff; padding: 16px 20px 16px 17px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.portfolio__desc-title { font-size: 21px; color: #33c1e3; }

.portfolio__desc-content { font-size: 14px; font-weight: 300; color: #414141; margin-left: 3px; }

.portfolio__desc-type { font-weight: 500; font-size: 14px; color: #aeaeae; margin: 11px 20px 0 3px; }

.portfolio__desc-type_icon { font-size: 18px; margin-right: 3px; }

.career { width: 720px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-left: 20px; /*  li  */ }

.career__title { width: 720px; margin-bottom: 18px; }

.career__wrapper { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }

.career__pic { width: 220px; height: 220px; border-radius: 9px; overflow: hidden; vertical-align: top; }

.career__img { display: block; }

.career__list { width: 480px; }

.career__item { padding-left: 100px; position: relative; /* timeline */ }

.career__item-wrapper { right: 0; border-radius: 10px; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); width: 380px; padding: 16px 21px 14px 21px; margin-bottom: 20px; background: #fff; position: relative; }

.career__item:hover .career__item-wrapper { background: #33c1e3; }

.career__item:hover .career__company, .career__item:hover .career__post, .career__item:hover .career__period { color: #fff; }

.career__item:hover .career__year { color: #33c1e3; font-size: 18px; font-weight: 600; }

.career__item:hover .career__year:after { border-color: #94e0f2; }

.career__item:after, .career__item:before { content: ""; display: block; width: 1px; background: #ddd; position: absolute; right: 100%; margin-right: -80px; }

.career__item:first-child:before, .career__item:last-child:after { display: none; }

.career__item:before { top: 0; bottom: 50%; }

.career__item:after { top: 50%; bottom: -25px; }

/*  career bloks content  */
.career__company { font-size: 21px; color: #5a5a5a; }

.career__post, .career__period { font-weight: 300; color: #8a8a8a; }

.career__year { position: absolute; top: 50%; right: 100%; margin-top: -14px; margin-right: 35px; font-size: 14px; line-height: 28px; color: #8a8a8a; z-index: 1; }

.career__year:after { content: ""; display: block; width: 10px; height: 10px; border-radius: 50%; background: #33c1e3; position: absolute; right: -25px; top: 50%; margin-top: -10px; border: 5px solid #f6f6f6; }

.footer { height: 50px; background: #414141; margin-top: -50px; position: relative; min-width: 940px; }

.copyright { position: absolute; font-size: 14px; top: 15px; }

.social { float: right; margin-top: 10px; }

.social__item { display: inline-block; }

.social__link { display: block; width: 31px; height: 30px; background: url(../img/icon/socials.png); background-repeat: no-repeat; }

.social__link-fb { background-position: 0 0; }

.social__link-vk { background-position: -101px 0; }

.social__link-tw { background-position: -201px 0; }

.social__link:hover { background-image: url("../img/icon/socials-hover.png"); }
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9

/*# sourceMappingURL=style.css.map */