@font-face {
    font-family: 'fira';
<<<<<<< HEAD
    src: url('../../fonts/firasans-light-webfont.woff') format('woff'),
         url('../../fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
=======
    src: url('/fonts/firasans-light-webfont.woff') format('woff'),
         url('/fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'fira';
<<<<<<< HEAD
    src: url('../../fonts/firasans-regular-webfont.woff') format('woff'),
         url('../../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
=======
    src: url('/fonts/firasans-regular-webfont.woff') format('woff'),
         url('/fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'fira';
<<<<<<< HEAD
    src: url('../../fonts/firasans-medium-webfont.woff') format('woff'),
         url('../../fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
=======
    src: url('/fonts/firasans-medium-webfont.woff') format('woff'),
         url('/fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'fira';
<<<<<<< HEAD
    src: url('../../fonts/firasans-bold-webfont.woff') format('woff'),
         url('../../fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
=======
    src: url('/fonts/firasans-bold-webfont.woff') format('woff'),
         url('/fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
<<<<<<< HEAD
  src: url('../../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
  url('../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
=======
  src: url('/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
  url('/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
  font-weight: normal;
  font-style: normal;
}