.staff{
	float: left;
	width: 720px;
}

.about{
	&__pic_wrapper{
	float: left;
	width: 220px;
	margin: 29px 60px;
	}

	&__pic-item {
  display: block;
  width: 220px;
  border-radius: 50%;
	border: 2px solid #fff;
	overflow: hidden;
	}

	&__title_wrapper{
	float: right;
	width: 380px;
	}
	
	&__title{
		margin-bottom: 10px;
	}

	&__text{
	height: 320px;
	text-align: left;
  overflow: auto;
  font-weight: 300;
	}

	&__download-link{
		width: 173px;
	  height: 40px;
	  float: right;
<<<<<<< HEAD
=======
		text-align: center;
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
		margin: 58px 0;
		padding-top: 9px;
		border: 2px solid #e85f61;
		border-radius: 30px;
<<<<<<< HEAD
		font-size: 16px;
=======
		font-size: 14px;
>>>>>>> 0eb58c5652dbec66a2c9232d51bae96e97f130d9
		font-weight: 600;
		color: #e85f61;

		&:hover{
			background: #e85f61;
			color: #f6f6f6;
		}

		&-icon{
			font-size: 14px;
	    margin: 0 5px 0 13px;
		}
	}
}

p{
	line-height: 1.45;
	margin-bottom: 7px;
}


