.career{
	// width: 720px;
	display: flex;
	flex-direction: column;
	padding-left: 20px;

	&__title{
		// width: 720px;
		margin-bottom: 18px;
	}

	&__wrapper{
		display: flex;
		flex-direction: row;
	}

	&__pic{
		width: 220px;
		height: 220px;
		border-radius: 9px;
		overflow: hidden;
		background-position: center center;
		background-size: inherit ;
	}

	&__img{
		transform: translateX(-9999px);
	}

	&__list{
		width: 480px;
	}

/*  li  */

	&__item{
		padding-left: 100px;
		position: relative;

		&-wrapper{
			right: 0;
		  border-radius: 10px;
		  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
		  // width: 380px;
		  padding: 16px 21px 14px 21px;
		  margin-bottom: 20px;
		  background: #fff;
			position: relative;
		}

		&:hover{
			& .career__item-wrapper{
				background: #33c1e3;
			}

			& .career__company, & .career__post, & .career__period{
				color: #fff;
			}

			& .career__year{
				color: #33c1e3;
				font-size: 18px;
				font-weight: 600;

				&:after{
					border-color: #94e0f2;
				}
			}
		}

/* timeline */

		&:after, &:before{
			content: "";
			display: block;
			width: 1px;
			background: #ddd;
			position: absolute;
			right: 100%;
			margin-right: -80px;
		}

		&:first-child:before, &:last-child:after{
			display: none;
		}

		&:before{
			top: 0;
			bottom: 50%;
		}

		&:after{
			top: 50%;
			bottom: -25px;
		}

		
	}
}

/*  career bloks content  */

.career{
	&__company{
		font-size: 21px;
		color: #5a5a5a;
	}

	&__post, &__period{
		font-weight: 300;
		color: #8a8a8a;
	}

	&__year{
		position: absolute;
		top: 50%;
		right: 100%;
		margin-top: -14px;
		margin-right: 35px;
		font-size: 14px;
		line-height: 28px;
		color: #8a8a8a;
		z-index: 1;

		&:after{
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #33c1e3;
			position: absolute;
			right: -25px;
			top: 50%;
			margin-top: -10px;
			border: 5px solid #f6f6f6;
		}
	}
}