.footer{
	height: 50px;
	background: #414141;
	margin-top: -50px;
	position: relative;
	min-width: 940px;
}

.copyright{
	position: absolute;
	font-size: 14px;
	top: 15px;
}

.social{
	float: right;
	margin-top: 10px;

	&__item{
		display: inline-block;
	}

	&__link{
		display: block;
		width: 31px;
		height: 30px;
		background: url(../img/icon/socials.png);
		background-repeat: no-repeat;

		&-fb {
	    background-position: 0 0;
		}

		&-vk {
	    background-position: -101px 0;
		}

		&-tw {
	    background-position: -201px 0;
		}

		&:hover {
	    background-image: url("../img/icon/socials-hover.png");
		}
	}
}