.header{
	height: 80px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.user{
	height: 80px;

	&__wrapper{
		float: left;
		width: 50%;
		height: 80px;
	}

	&__small-avatar{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #bebebe;
		float: left;
		margin: 11px 0;
	}

	&__avatar-pic{
		display: block;
	}

	&__name{
		float: left;
		margin: 30px 19px;
	}
}

.contacts{
	text-align: right;
	margin-top: 30px;

	&__wrapper{
		float: right;
		width: 50%;
		height: 80px;
		text-align: center;
	}

	&__trigger{
		color: #32c3e5;
		line-height: 1.556;
		font-weight: bold;
		text-decoration: none;
		padding-bottom: 7px;
		background: url(../../img/decor/dotted_border.png) 0 22px repeat-x;
	
		&:hover{
			color: #e85f61;
			background: url(../../img/decor/dotted_border_red.png) 0 22px repeat-x;
		}
	}
}


