.header{
	height: 80px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.user{
	height: 80px;
	position: relative;

	&__wrapper{
		float: left;
		width: 80%;
		height: 80px;
	}

	&__small-avatar{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #bebebe;
		float: left;
		margin: 11px 0;
	}

	&__avatar-pic{
		display: block;
	}

	&__name{
		position: absolute;
		float: left;
		top: 50%;
		left: 84px;
		transform: translateY(-50%);
	}
}

.contacts{
	text-align: right;
	position: relative;

	&__wrapper{
		float: right;
		width: 20%;
		text-align: center;
	}

	&__trigger{
		height: 40px;
		border: none;
		color: #32c3e5;
		font-family: "fira";
		font-size: 18px;
		font-weight: 500;
		background-color:  transparent;
		background: url(../img/decor/dotted_border.png) 0 30px no-repeat;
		margin-top: 20px;
		padding: 0;
	
		&:hover{
			color: #e85f61;
			background: url(../img/decor/dotted_border_red.png) 0 30px no-repeat;
		}

		&:focus{
			outline: none;
		}

		&:hover .contacts__list-wrapper{
			transform: translate(-42px, 20px)
		}

		&-text{
			display: inline-block;
		}

		&-icon{
			display: inline-block;
			display: none;
		}
	}

	&__list-wrapper{
		width: 205px;
		height: 130px;
		border: 1px solid #dedede;
		border-radius: 10px;
		background: #fff;
		position: absolute;
		z-index: 10;
		transform: translate(-9999px, 20px);

		&:before{
			content: "";
			height: 30px;
			left: 0;
			right: 0;
			top: -29px;
			position: absolute;
		}
	}


	&__item{
		font-size: 18px;
		font-weight: 300;
		color: #414141;
		line-height: 43px;
		text-align: left;
		padding-left: 12px;
		border-bottom: 1px solid #dedede;

		&:hover .contacts__item-icon, &:hover .contacts__item-text{
			color: #32c3e5;
			font-weight: 500;
		}


		&-icon{
			color: #32c3e5;
		}

		&:last-child{
			border-bottom: none;
		}
	}
}

.triangle{
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #dedede;
  bottom: 129px;
  right: calc(50% - 10px);
}

.triangle-fill{
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #fff;
  bottom: 128px;
  right: calc(50% - 10px);
}


