.sidebar{
	float: left;
	width: 220px;
	min-width: 220px;
}

.nav{
	text-align: right;
	margin-top: 27px;

	&__link{

		display: block;
		padding: 10px 23px;
		color: #414141;
		// text-decoration: none;
	  border-right: 6px solid transparent;
	  // font-size: 18px;
	 

	  &:hover{
			color: #33c1e3;
		}

		&-icon{
			margin-right: 4px;
		}
	}
}

.nav__item-active{
  color: #33c1e3;
  font-weight: 900;
  border-color: #33c1e3;
}